/* src/components/TVShowList.css */

.tvshow-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
  color: black;
  transition: background-color 0.3s ease; /* Smooth transition for background */
}

/* Dark mode support */


/* Responsive design for mobile */
@media (max-width: 768px) {
  .tvshow-list {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust for smaller screens */
  }
}
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 8px 16px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.page-number {
  font-size: 16px;
  color: var(--text-color);
}

/* Dark and Light mode colors */
:root {
  --button-bg: #007bff;
  --button-text: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --button-bg: #333;
    --button-text: #fff;
  }
}